table[border="1"]{
	border-spacing:0;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
    width: 300px;
}

table[border="1"] td,table[border="1"] th{
	padding:5px 8px;
	background:#fffedb;
	border: none;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}

table[border="1"] th{
	background:#f9f9f9;
}
table[border="1"] tr:last-child th,table[border="1"] tr:last-child td{
    border-bottom: 1px solid #999;
}
table[border="1"] th:last-child,table[border="1"] td:last-child{
    border-right: none !important;
    border-left: none !important;
}

table tr td a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

label {
    margin-left: auto;
}
h3 {
    margin-left: auto;
}
body {
    overflow-y: scroll;
    background-color: #fffedb !important;
}


.choice {
    margin-left: 400px;
    overflow-y: auto;
    position: absolute;
    right: auto;
    margin-top: 0;
    float: right;
}

.accordion-003 {
    width: 300px;
    margin-bottom: 7px;
    border-bottom: 2px solid #d0d0d0;
}

.accordion-003 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

.accordion-003 summary::-webkit-details-marker {
    display: none;
}

.accordion-003 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .3s;
}

.accordion-003[open] summary::after {
    transform: rotate(225deg);
}

.accordion-003 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-003[open] p {
    transform: none;
    opacity: 1;
}

.genre {
    float: left;
    height: 500px;
    overflow-y: scroll;
}

.toroku {
    float: none;
    padding-top: 500px;
}

.rireki {
    float: none;
}

.row {
    flex-wrap: nowrap;
    width: 80px;
}



.item-input {
    display: flex;
    width: 60%;
    height: 40px; /* 数値入力欄と同じ高さに設定 */
    padding: 8px; /* 内側の余白を調整 */
    font-size: 1.2em; /* フォントサイズはそのまま */
    border: 1px solid #ccc; /* 枠線を統一 */
    border-radius: 4px; /* 角を丸く統一 */
    margin-bottom: 10px; /* ボックス間の余白を保持 */
    float: left;
    margin-right: 30px;
    text-align: center;
  }
  
  .quantity-input {
    width: 70px; /* 数値入力欄の幅 */
    margin-right: 5px; /* 数量入力欄と選択ボックスの間隔 */
    margin-left: 15px; /* 右寄せ調整 */
    padding: 7px 4px;  /* 上下の余白をさらに広げる */
    font-size: 1.2em;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    float: right;
    text-align: right;
  }
  
  .unittext {
    width: 70px; /* 数値入力欄の幅 */
    margin-right: 5px; /* 数量入力欄と選択ボックスの間隔 */
    margin-left: 15px; /* 右寄せ調整 */
    padding: 7px 4px;  /* 上下の余白をさらに広げる */
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    float: right;
    text-align: center;
    font-size: 1.2em;
  }

  .error {
    color: red;
  }

  tr{
    width: 100px;
  }

.form-check-label{
    font-size: 20px;
}
h3 {
    font-size: 25px;
}
a{
    transition: color 0.3s;
    text-decoration: none;
    font-size: 25px;
  }
  
  a:hover{
    color : green;
  }